astropy==6.0.1
bilby==2.2.2
corner==2.2.2
dynesty==2.1.2
gwosc==0.7.1
gwpy==3.0.8
h5py==3.11.0
jupyter==1.0.0
lalsuite==7.21
ligo.skymap==1.1.2
matplotlib==3.7.3
notebook==7.1.2
numpy==1.24.4
pandas==2.2.2
pip==24.0
pycbc==2.4.0
pygcn==1.0.2
scipy==1.9.3
